* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #2C3036;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.undotted {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.hidden {
    font-size: 0;
    line-height: 0;
    width: 0;
}

.button {
    background: #008752;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    display: block;
    width: 181px;
    text-align: center;
    padding: 11px;
    border: none;
    cursor: pointer;
}

.button-secondary {
    background: #95459A;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 33px;
    margin-bottom: 33px;
}

.header-menu {
    margin: 0 auto 0 25px;
}

.header-list {
    display: flex;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.header-menu a {
    color: #333333;
    margin-right: 30px;
}

/* MAP */

.map {
    position: relative;
    overflow: hidden;
}

.map .container {
    padding: 40px 0 133px;
}

.map-wrapper {
    position: relative;
    z-index: 1;
    width: 380px;
    background: #008752;
    color: #fff;
    padding: 50px 44px 26px;
}


.map-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


/* FOOTER */

.footer {
    background: #00559D;
    font-weight: 900;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
}

.footer p {
    margin: 0;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.footer-social {
    display: flex;
}

.footer-social li {
    margin-left: 16px;
}